:root{
      --background-color:#e4e1e1;
      --primary-color:rgb(118, 118, 248);
      --secondar-color:rgb(221, 221, 36);
      --ternary-color:rgb(46, 127, 177);
      --first-color:rgb(202, 98, 115);
      --last-color:rgb(241, 81, 72);
}
*{
      box-sizing: border-box;
}
body{
      padding: 0;
      margin: 0;
      background-color:var(--background-color);
}
#conatiner{
     background-color: #fbf9f9;
     max-width: 600px;
     margin: 10px auto;
     box-shadow: 0 0 10px rgba(0,0,0, 0.1);
     padding: 10px;
    
}
h1{
      text-align: center;
}
#InputType{
      width: 75%;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0,0,10px rgba(0,0,0, 0.1);
}
#ToDoType{
   padding: 10px 20px;
   text-align: center;
   border-radius: 5px;
   color: white;
   background-color: rgb(46, 127, 177);
   cursor: pointer;
}
#todolist{
      list-style: none;
      padding: 0;
}
li{
      padding: 10px;
      border-bottom:  1px solid rgb(217, 217, 244);
}
li:last-child
{
      border-bottom: none;
}
li:hover{
      background-color: rgb(198, 241, 241);
}
.filterbtn,.editbtn,.completedbtn,.deletebtn{
      padding: 10px 20px;
      margin: 10px;
      text-align: center;
      background-color:var(--secondar-color) ;
      transition: background-color 0.3s;
      border: none;
      border-radius: 5px;
      font-weight: bold;
}
.filterbtn:hover{
  background-color: var(--ternary-color);
}

.editbtn{
      background-color: var(--first-color);
}
.completedbtn{
    background-color: var(--primary-color); 
}
.deletebtn{
   background-color: var(--last-color);
}
.editbtn:hover{
      background-color:var(--secondar-color) ;
}
.completedbtn:hover{
      background-color:var(--secondar-color) ;
}
.deletebtn:hover{
      background-color:var(--secondar-color) ;
}
.addItem{
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
      margin: 10px ;
      align-items: center;
      
}